<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZG ToDo</title>
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <div class="main-navbar">
            <div class="logo">
                <h1 id="zg">ZG</h1>
                <h1 id="app_name">ToDo</h1>
            </div>
            <div class="menu-navbar">
                <a class="navbar-link" href="./index.html">
                    <span class="material-icons">home</span>
                    <span>Home</span>
                </a>
                <a class="navbar-link" href="#">
                    <span class="material-icons">tune</span>
                    <span>Filtrar</span>
                </a>
                <a class="navbar-link" href="./about.html">
                    <span class="material-icons">article</span>
                    <span>Sobre</span>
                </a>
            </div>
        </div>
    </header>

    <main class="main-wrapper">
        <div class="task-list-wrapper">
            <div id="about">
                <p>O ZGToDo é um aplicativo de lista de tarefas no estilo <span class="highlight">TaskScheduler</span>,
                    onde o usuário pode criar e gerenciar suas tarefas de maneira simples e intuitiva.</p>
                <br>
                <p>Com backend implementado em &#9749;<span class="highlight">Java</span> o projeto visa a aplicação dos
                    principais conhecimentos da
                    linguagem e da programação orientada a objetos.</p>
                <br>
                <p>Na segunda parte do projeto, foi desenvolvido um frontend com <span class="highlight">HTML / CSS /
                        Javascript</span>, sem uso de framework.</p>
            </div>
        </div>
    </main>

    <footer>
        <p>Desenvolvido por <span class="highlight">Vinícius Vianna</span> para o <span class="highlight">Acelera
                ZG4</span></p>
        <br>
        <p>Brasil, 2023</p>
    </footer>
</body>

</html>